header {
    display: flex;
    color: white;
    background-color: #1f2937;
}

a {
    color: white;
    text-decoration: none;
}

.header-link-container {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    font-size: 18px;
    color: #e5e7eb;
}

.header-link {
    justify-content: space-between;
}

button {
    background-color: #3882f6;
    color: white;
}

.container-1 {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #1f2937;
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.subcontainer-1 {
    flex: 1;
}

.subcontainer-2 {
    flex: 1;
}

.container-2, .container-4 {
    background-color: white;
}

.picture-and-subtext-container {
    display: flex;
    justify-content: space-between;  
}

.information-text {
    font-size: 36px;
    text-align: center;
    color: #1f2937;
    font-weight: 900;
}

.picture {
    border: 1px solid blue;
}

.picture-and-subtext {
    flex: 1;
}

.container-3 {
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-style: light italic;
    color: #1f2937;
    text-align: center;
}

.attribution {
    font-style: bold;
    text-align: center;
}

.subcontainer-3 {
    background-color: #3882f6;
    color: white;
    height: 200px;
    width: 1000px;
    display: flex;
}

.sign-up-text {
    flex: 1;
}

.sign-up-button {
    flex: 1;
}

